upload/
old/
img/
cache/
Noveishaya_Tysyacha/
config/db.php
#config/smtp.php
#config/configuration.php
emaildata*.txt
email_send_time*.txt


# NetBeans project files
nbproject/

# Ignore objects and archives.
*.[oa]

.htaccess